body
    background-color: #eff0f3

#timestamp
    font-size: 100px
    text-align: center
    line-height: 90px
#date, #day
    font-size: 15px
    margin: 0px 58px

.clock-wrapper
    width: 500px
    display: flex
    justify-content: space-between

.welcome
    font-size: 25px
    text-align: center
    margin-top: 20px

h1
    text-align: center

.list-container
    width: 500px
    margin: 0 auto
    margin-top: 125px
    margin-bottom: 50px

form.list-form
    display: flex
    justify-content: space-around
    background: #2fcc9a
    border: 2px solid #228e6c
    border-radius: 10px
    padding: 20px 10px
    width: 500px
    margin: 0 auto
    margin-top: 20px

input
    width: 250px
    margin-right: 5%

ul
    width: 500px
    padding: 5px 10px 10px 10px

.task-list_wrapper
    margin: 5px 0
    width: 500px
    display: flex
    justify-content: space-between
    align-items: center

li
    min-width: 400px
    background: #fcfcfc
    border: 1px solid silver
    border-radius: 5px
ul
    button
        
